[2018-06-20 11:04] gvsrini opened #1 "Admin User"
This is exactly what I was looking for, but one hitch to get started - which is the Admin user? Can't seem to find where you defined it.

[2018-06-20 21:08] mo-esmp commented on #1
You can create a role and check all controllers and actions and name it admin role and role can access all controllers and action then assign admin role to a user. in [authorization filter ](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/7478a4959e857a89ec82e713a1d69d12e12dd8c2/src/DynamicRoleBasedAuthorization/Filters/DynamicAuthorizationFilter.cs#L40) you can bypass access

[2018-06-22 05:24] gvsrini commented on #1
The problem was after I added `Access` column in the `AspNetRoles` table, I had NULL values in it and I was not able to move forward.

I had to make these changes in `DynamicAuthorisationFilter.cs` & `SecureContentTagHelper.cs`:

[code]
This is the `RoleController.cs`

[code]

[2018-10-04 07:01] jayesh14 opened #3 "lib is not found"
Please add lib folder

[2018-10-08 19:18] mo-esmp commented on #3
Lib folder added.

[2018-10-08 19:18] #3 closed

[2018-11-12 07:56] mubassir-hasan opened #4 "Fix null action in Role creation"
In Role>Create view this code need to be fixed. it's causing null Actions in Post Edit
**From**
[code]
**To**
[code]

[2018-11-13 06:52] mo-esmp commented on #4
Are you sure about this ? I haven't seen any difference between the codes you posted. Could please tell me how to reproduce this exception ?

[2018-11-14 05:02] mubassir-hasan commented on #4
In javascript selector
 $('**ul > li** > input[type="checkbox"]:checked', $(controller).parent()).each(function () {
But in html you are defining
[code]
~~ol~~ sould be **ul** because of this in Role create post alawys null actions

[2018-11-14 07:22] mo-esmp commented on #4
Issue fixed, thank you.

[2018-11-21 20:48] rustam013 opened #5 "hello,i'm having two issues ,first AspNetRoles Access column is always null ,second i have ArgumentNullException in Editing role . Thank you very much"
``

[2018-11-22 07:51] mo-esmp commented on #5
Hi @rustam013, have you pulled latest commit ?

[2018-11-22 11:58] rust4m commented on #5
Hi ,latest commit was 8 days ago ,I've downloaded 2 days ago ,is there something i'm doing wrong?thank you

[2018-11-22 13:14] rust4m commented on #5
sorry ,you were right ,sorry again ,thanks for reply

[2018-11-22 13:14] #5 closed

[2019-01-16 03:27] tb-mtg opened #6 "How to include Razor Pages & Page Handlers"
Excellent project!

How would I go about handling RazorPages as well as/instead of controllers?

Particularly how to implement MvcControllerDiscovery for Razor Pages & Page Handlers where
* MvcRazorPageInfo would be equivalent of MvcControllerInfo
* MvcRazorPageHandlerInfo would be equivalent of MvcActionInfo

[2019-01-22 16:51] mo-esmp commented on #6
@tb-mtg sorry for answering late. Read this article about [Discovering controller actions and Razor Pages in ASP.NET MVC Core](https://joonasw.net/view/discovering-actions-and-razor-pages).

[2019-02-06 12:31] assadnazar opened #7 "IMvcControllerDiscovery in .net core2.1"
I cant resolve IMvcControllerDiscovery in .net core 2.1... can you guide me with that?

[2019-02-06 20:06] mo-esmp commented on #7
What exception do you get ? It would be great if you provide more information.

[2019-02-11 18:37] assadnazar commented on #7
I am not getting any reference to the library. Can you tell me library reference to include

[2019-04-08 13:47] coskuncinar commented on #7
Change the contents of the file. Also you will be upgraded to the 2.2.

`<Project Sdk="Microsoft.NET.Sdk.Web">`
`  <PropertyGroup>`
`    <TargetFramework>netcoreapp2.2</TargetFramework>`
`    <UserSecretsId>aspnet-DynamicRoleBasedAuthorization-5CB62301-D158-460A-94F8-2B16F86DD954</UserSecretsId>`
`  </PropertyGroup>`
`  <ItemGroup>`
`    <PackageReference Include="Microsoft.AspNetCore.App" />`
`

[2019-04-08 13:47] coskuncinar commented on #7
Change the contents of the "DynamicRoleBasedAuthorization.csproj". Also you will be upgraded to the 2.2

`<Project Sdk="Microsoft.NET.Sdk.Web">`
`  <PropertyGroup>`
`    <TargetFramework>netcoreapp2.2</TargetFramework>`
`    <UserSecretsId>aspnet-DynamicRoleBasedAuthorization-5CB62301-D158-460A-94F8-2B16F86DD954</UserSecretsId>`
`  </PropertyGroup>`
`  <ItemGroup>`
`    <PackageReference Include="

[2019-10-07 07:56] #7 closed

[2019-10-07 07:58] #6 closed

[2020-01-25 11:18] MahdiElahi opened #8 "Cant Get Requested Url in .Net Core 3.1"
hello please update DynamicRoleBasedAuthorizationNETCore project to .net core 3.1
thanks, a lot
when i call authorize controller for example /roles/index
in filter the url is /account/login not show my main path.

because we use app.authorizaiton & serivce.useControllersAndView & app.EndPoint in .net Core 3.1

[2020-01-25 15:09] mo-esmp commented on #8
New sample project for .NET Core 3.1 added. Please check the [sample](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/tree/master/samples/netcore3.0/DynamicRoleBasedAuthorization) and let me know if you have any issue.

[2020-03-04 20:42] #8 closed

[2020-05-11 19:07] papyr opened #13 "Dynamic Claims"
Hello, can you share some suggestion on how to do secure data in the same role across groups, I was thinking claims might be good.

For e.g. when you have managers in the same role, but you want to limit the data to only their geographic areas so they don't see other financial data.

Thanks

[2020-05-11 20:45] mo-esmp commented on #13
I have implemented this scenario several years ago. You can use roles or claims but I used claims. Here are some sample codes and they might help you. These codes are related to the EF Core 1.0 and now with EF Core 3, you may find a more elegant way to filter data.

Imagine I have two roles `Representative` and `Agent`  I want to apply a filter on specific entities:

[code]
And here are filters fo

[2020-06-20 20:54] mo-esmp commented on #13
I close this issue due to inactivity. Feel free to reopen it.

[2020-06-20 20:54] #13 closed

[2020-07-27 05:55] imtiazahmeddahar opened #14 "How to implement in razor page"
i have created new MVC core 3.1 application with razor identity. when i run the application and i'm getting this error:

InvalidCastException: Unable to cast object of type 'Microsoft.AspNetCore.Mvc.RazorPages.CompiledPageActionDescriptor' to type 'Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor'.
SchoolManagementSystem.ExtentionMethods.DynamicAuthorizationFilter.IsProtectedAction(

[2020-07-27 08:18] mo-esmp commented on #14
At the moment `DynamicRoleBasedAuthorizationNETCore` only supports `MVC` not `Razor Pages` and sorry for that. The main problem is that I cannot figure out how to get a page URL because it's related to the folder structure and I don't have much experience with `Razor Pages`. I should spend more time on `Razor Pages` and find out how routing exactly works or if someone can help me with this case.

[2020-07-30 04:21] imtiazahmeddahar commented on #14
i found filters for razor pages from Microsoft's docs but i don't know how to implement it. Would you like to please review it?

Filter methods for Razor Pages in ASP.NET Core:
[https://docs.microsoft.com/en-us/aspnet/core/razor-pages/filter?view=aspnetcore-3.1]

[2020-07-30 11:47] mo-esmp commented on #14
@imtiazahmeddahar Ok sure, I'll guide you on how to implement dynamic auth in `Razor Pages`.

[2020-08-17 17:11] papyr opened #15 "Role Based Menu"
Hello, can we generate a Role Based Menu option when we configure services.

Also I think we can use this in our template for [breacrumbs ](https://github.com/zHaytam/SmartBreadcrumbs)
This template is much more easier to use than the dotnet boxed or rehans template.

Do you have any suggestions to customizing T4 tempaltes to do scaffolding from table controller and views

thanks

[2020-08-18 09:35] mo-esmp commented on #15
Right now it could be done via `secure-content` tag helper to generate role-based menu:
[code]
As you said it's a good idea to implement functionality like `breacrumbs` for generating a role-based menu. I'm not good at using T4 templates and honestly have no idea about how to do scaffolding from table controller and views.

[2020-08-20 02:57] #15 closed

[2020-10-08 15:49] papyr opened #16 "Pulll: Adding Claims to Role - to create a sub group"
Hello, I am trying add role-claims to your code, can you please pull this and help me if its correct.

Use Case: **we need create groups for data access inside a role**. And, right now I have role for `manager ` but I want limit the managers data access to sallies, budgets etc. based on their area like state or city or region.

So `EastCoast-Managers`, `WestCoast-Managers` etc. can only see salari

[2020-10-08 15:50] #16 closed

[2020-10-08 15:59] papyr commented on #13
Hello I like you filter concept its very good, I have been trying to get it working and I got stuck on how to allow the user to set it.

I saw you are using CityId on the customer, but I need to do it on the claims side allowing Super Admin to set it inside the UI. so **User can add the values to allow the managers to be filtered by base filters**, **`so I used claims`**. Can you please tell me if

[2020-10-09 07:22] mo-esmp commented on #13
Your codes look fine and perhaps for the next version I should use claims to store role access. I have no experience with active directory and I couldn't help you with that, sorry.

[2020-10-12 19:47] papyr commented on #13
Ohh no, _Not looking for [AD](https://joonasw.net/view/aspnet-core-2-azure-ad-authentication)_!

Just that groups are a common functionality inside roles, something that AD had. I just don't know how to go about this so I am playing around and watching for your input. And, for ref. here are a couple of over blown [code samples](https://stackoverflow.com/a/50141578/6085193)

In summary, just a mini

[2020-11-13 17:36] papyr opened #17 "Building with .Net 5"
Hello can you please share an update on the .Net 5 / EF 5 build, its giving built in security with change tracking automatically

[2020-11-13 17:53] mo-esmp commented on #17
Sure I will update .NET 5 as soon as possible.

[2020-11-17 21:39] mo-esmp commented on #17
Upgrade nuget packges to version 1.0.2

[2020-11-26 09:48] #17 closed

[2021-01-20 21:48] danijel88 opened #18 "[Question]RoleStore.json move to DB"
Where I can find RoleStore.json ?
Is it possible to save permissions in db ?

[2021-01-20 22:02] mo-esmp commented on #18
The default path to save `RoleStore.json` is the location of the application's DLLs, for example in debug mode, the location is `bin\Debug` folder. You can also change the default location `.AddJsonStore(options => options.FilePath = "FilePath");`

Within tomorrow I will publish a new nuget package to save role access to the SQL Server database.

[2021-01-22 20:00] mo-esmp commented on #18
To save role access in the database, install [DynamicAuthorization.Mvc.MsSqlServerStore](https://www.nuget.org/packages/DynamicAuthorization.Mvc.MsSqlServerStore) store.

[2021-01-22 20:00] #18 closed

[2021-03-01 00:48] weedkiller opened #19 "Menu Lists Based on Role/Claim"
Hi, couple of ideas:

See Menu/View in admin page: it would be nice to have a view of which menus are visible to which roles and which claims.
Also the samples from manual are not working with this master release.

[2021-03-01 08:21] mo-esmp commented on #19
Well, this library has no idea how the menu is going to be rendered but you can wrap the menu codes inside [secure-content](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/master/samples/netcore3.x/SampleMvcWebAppWithUi/TagHelpers/MySecureContentTagHelper.cs) tag helper to check whether the user has access to the content or not.

https://github.com/mo-esmp/DynamicRoleBasedAuth

[2021-03-01 16:12] #19 closed

[2021-03-13 06:18] mohammadhosseinzavvar opened #20 "خطا در استفاده از پروژه در MVC Core 5.0"
با سلام
من طبق آموزش گیت، پکیج ها و نصب کردم و به پروژه اضافه کردم
تنظیمات فایل Startup هم قرار دادم
ولی در اجرا خطا میده
GenericArguments[0], 'SeyedMarket.DomainClasses.Context.ApplicationDbContext', on 'DynamicAuthorization.Mvc.Ui.Services.IdentityService`4[TDbContext,TUser,TRole,TKey]' violates the constraint of type 'TDbContext'.'

[2021-03-13 06:27] mohammadhosseinzavvar commented on #20
`#region تنظیمات Identity
            services.AddIdentity<ApplicationUser, ApplicationRole>(options =>
            {
                options.SignIn.RequireConfirmedAccount = false;

                //تنظیمات گذرواژه
                options.Password.RequiredLength = 5;
                options.Password.RequireLowercase = false;
                options.Password.RequireNonAlphanumeric = false;

[2021-03-13 06:35] mo-esmp commented on #20
سلام
لطفا تنظیمات مربوط به
Identity
رو هم که انجام دادین، بفرستین یا یک ریپازیتوری گیتهاب ایجاد کنید و همون تنظیمات رو تو پروژە تست انجام بدین و  بفرسیتن رو گیتهاب و آدرسش رو بهم بدین

[2021-03-13 06:39] mohammadhosseinzavvar commented on #20
من از کلاس های کاستوم شده یوزر و رول استفاده کردم براتون میفرستم

[2021-03-13 06:39] mohammadhosseinzavvar commented on #20
public class ApplicationRole : IdentityRole<int>
    {
        public ApplicationRole()
        {
            CreationDateTime = DateTime.Now;
            Unique = Guid.NewGuid();
        }

        public string Title { get; set; }

        /// <summary>
        /// تاریخ و زمان ثبت
        /// </summary>
        public DateTime CreationDateTime { get; set; }

        /// <summary>
        /// تا

[2021-03-13 06:40] mohammadhosseinzavvar commented on #20
public class ApplicationUser : IdentityUser<int>
    {
        public ApplicationUser()
        {
            SupplierType = (int)EnumSupplierType.None;
            AutomaticScore = 0;
            MaximumAllowedDisplay = 100;
            CurrentDisplay = 0;
            IsActive = true;
            CreationDateTime = DateTime.Now;
            Unique = Guid.NewGuid();
        }

        /// <summary

[2021-03-13 06:40] mohammadhosseinzavvar commented on #20
public class ApplicationDbContext : IdentityDbContext<
        ApplicationUser, ApplicationRole, int,
        IdentityUserClaim<int>, ApplicationUserRole, IdentityUserLogin<int>,
        IdentityRoleClaim<int>, IdentityUserToken<int>>

[2021-03-13 06:41] mohammadhosseinzavvar commented on #20
public class ApplicationUserRole : IdentityUserRole<int>
    {
        public virtual ApplicationUser User { get; set; }
        public virtual ApplicationRole Role { get; set; }
    }

[2021-03-13 11:25] mohammadhosseinzavvar commented on #20
سلام مجدد
مشکل قابل حل هست، اطلاعات بیشتری نیاز دارین ؟

[2021-03-13 13:42] mo-esmp commented on #20
فکر کنم با این اطلاعات بتونم خطا رو باز تولید کنم

[2021-03-14 20:35] mohammadhosseinzavvar commented on #20
سلام، مشکل قابل حل هست ؟

[2021-03-15 05:15] mo-esmp commented on #20
بله قابل حل هست، تا فردا درستش میکنم

[2021-03-15 22:00] mo-esmp commented on #20
لطفا [این تست](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/dev/test/DynamicRoleBasedAuthorization.Tests/ServiceRegistrationTests.cs) رو نگاه کن و ببین با شریط کلاس
`DbContext`
شما مطابقت داره یا نه؟ هر چند این کد

کامپایل نمیشه و
`IdentityRoleClaim`, `IdentityUserToken`, `IdentityUserToken`
رو باید کاستومایز کنید ونوع کلیدشون رو اینتیجر کنید

[2021-03-16 04:34] mohammadhosseinzavvar commented on #20
سلام در کلاس
applicationUser
این ارتباطات و دارم
public virtual ICollection<IdentityUserClaim<int>> Claims { get; set; }

public virtual ICollection<IdentityUserLogin<int>> Logins { get; set; }

public virtual ICollection<IdentityUserToken<int>> Tokens { get; set; }

public virtual ICollection<ApplicationUserRole> UserRoles { get; set; }

و این ارتباطات در کلاس ApplicationRole
public virtual IColl

[2021-03-16 04:49] mohammadhosseinzavvar commented on #20
تمام مدل هام و کاستوم کردم دقیقا مثل این مثال مایکروسافت
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-5.0#add-all-navigation-properties

[2021-03-16 05:08] mohammadhosseinzavvar commented on #20
ولی بازم همون خطای اول و میده
'GenericArguments[0], 'MyApplication.DomainClasses.Context.ApplicationDbContext', on 'DynamicAuthorization.Mvc.Ui.Services.IdentityService`4[TDbContext,TUser,TRole,TKey]' violates the constraint of type 'TDbContext'.'

[2021-03-16 18:44] mo-esmp commented on #20
لطفا [نسخه 1.1.0](https://www.nuget.org/packages/DynamicAuthorization.Mvc.Core) رو نصب کن و اگه باز باگ داشت بهم خبر بده.

[2021-03-17 08:26] mohammadhosseinzavvar commented on #20
بازهم خطای قبل و میده در زمان اجرا

[2021-03-17 08:56] mo-esmp commented on #20
میشه پروژت رو به
no.esmp@gmail.com
برام بفرستی

[2021-03-18 19:49] mohammadhosseinzavvar commented on #20
سلام
فرستادم، لطفا بررسی بفرمایید براتون رسیده

[2021-03-19 01:37] mo-esmp commented on #20
با عرض معذرت ایمیل رو اشتباه تایپ کردم
Mo.esmp@gmail.com
به این ایمیل فوروارد کنید

[2021-03-19 06:19] mohammadhosseinzavvar commented on #20
سلام
فرستادم.

On Fri, 19 Mar 2021, 05:07 Mohsen Esmailpour, ***@***.***>
wrote:

[2021-03-19 07:35] mo-esmp commented on #20
ایمیلی دریافت نکردم، لطفا یکبار دیگه اسپلینگ ایمیل رو چک کنید

[2021-03-19 10:43] mo-esmp commented on #20
لطفا به [نسخه 1.1.1](https://www.nuget.org/packages/DynamicAuthorization.Mvc.Core/1.1.1) آپدیت کن و تست کن.

[2021-03-20 22:01] mohammadhosseinzavvar commented on #20
این مشکل حل شده ولی UI لود نمیشه
http://localhost:50455/role
این آدرس خطای 404 میده

[2021-03-22 02:47] tgerevini opened #21 "accessList is always returning null"
Hi, been stuck in this problem and i can't figure it out why i'm getting the accessList null... I can create and edit the role, but no items in accesslist.

Here's my startup:
[code]

Here's my DbContext class, i think it might be here the problem, but i don't know what else to try:

[code]

When debbuging, both lines seens successfull, the objects are loaded correctly:

[code]

Here, the return i

[2021-03-22 13:21] mohammadhosseinzavvar commented on #20
سلام
روز بخیر
مشکل Url حل شد ؟

[2021-03-22 22:04] mo-esmp commented on #20
اگه دارید با همون پروژەای که برای من فرستادین، تست میکنید باید آدرس رو
`role/index`
وارد کنید که اونم چون لاگین نیستید 401 برمیگردونه و ریدایرکت میشه به
`Account/Login?ReturnUrl=%2Frole%2Findex`
که اون هم چون وجود نداره `404` میده. توصیه میکنم یه پروژه  وب از نوع
`MVC`
بسازید و نوع
`Authenticate Type`
رو
`Individual Accounts `
انتخاب کنید و پس از ایجاد یک کاربر به آدرس
`/role`
مراجعه کنید و البته

[2021-03-22 22:14] mo-esmp commented on #21
Hi @tgerevini
What store type do you use? `JSON` or `SQLServer`?
If `roleAccess` object is not `null` then after calling `await _roleAccessStore.AddRoleAccessAsync(roleAccess);`, it should be stored, check the store to see  values are saved or not.
It would be a great help if you provide a project on Github or send me by email that demonstrates the issue.

[2021-03-22 22:57] tgerevini commented on #21
I'm using SQLServer. I got you an access to the project on github, i really apreciate your help!
https://github.com/solutions-atv/FrameworkBase

i'm going to look into the roleAccess object and see it i's storing the value, if i still dont manage to make it work, i'll keep you updated, thanks a lot! The default user and pwd is admin, cheers!

ps.: I changed the startup to use  .AddJsonStore() and

[2021-03-22 23:34] mohammadhosseinzavvar commented on #20
http://localhost:50455/Role/Index
این ادرس و با یوزر ادمین میزنم این متن خطا و میده
InvalidOperationException: The model item passed into the ViewDataDictionary is of type 'Microsoft.EntityFrameworkCore.Internal.InternalDbSet`1[ProjectName.DomainClasses.ApplicationRole]', but this ViewDataDictionary instance requires a model item of type 'System.Collections.Generic.IEnumerable`1[Microsoft.AspNetCo

[2021-03-23 06:58] mo-esmp commented on #20
چک میکنم و بهتون خبر میدم

[2021-03-23 10:27] mo-esmp commented on #21
I will check the project soon and I will update you.

[2021-03-23 17:37] mo-esmp commented on #21
I have debugged your project and everything worked as expected and I couldn't re-produce malfunctionality you mentioned.

![d2](https://user-images.githubusercontent.com/1659032/112191714-eb0a5900-8c23-11eb-9fac-8d8582858692.jpg)
![d1](https://user-images.githubusercontent.com/1659032/112191748-f3629400-8c23-11eb-998a-190c9fbb9d1b.jpg)

[2021-03-23 18:26] tgerevini commented on #21
I noticed i dont have this table in my database... did you create RoleAccess table?

[2021-03-23 19:53] mo-esmp commented on #21
This table will be created automatically when the project has started

[2021-03-23 19:55] tgerevini commented on #21
Hmm that's probabily the problem, it's not being created in my environment, only the other ones

![image](https://user-images.githubusercontent.com/34342917/112209768-9a313b00-8bf8-11eb-94a5-0c54455ebca9.png)

[2021-03-23 20:41] mo-esmp commented on #21
Run the application with `dotnet run` and check out the logs on console output to see if any error occurs during table creation.

[2021-03-23 21:07] mo-esmp commented on #20
لطفا به نسخه `1.2.0` آپدیت کن.

[2021-03-23 22:17] tgerevini commented on #21
![image](https://user-images.githubusercontent.com/34342917/112225698-f0f44000-8c0b-11eb-998d-bfc77a6f0b62.png)

: \ 2 - Sources \ git \ solutions-atv \ FrameworkBase \ Directory.Build.targets (70,5): error MSB4801: task factory "CodeTaskFactory" is not supported in the .NET Core version of MSBuild. [D: \ 2 - Sources \ git \ solutions-atv \ FrameworkBase \ FrameworkBase.Domain \ FrameworkBase.Doma

[2021-03-23 22:47] mo-esmp commented on #21
No, it's not related to `.NET Core 5.0` because I successfully created a role and access-list with your project. Run the project with VS and instead of `IIS Express` choose `FrameworkBase.UI`

![Screenshot 2021-03-24 031214](https://user-images.githubusercontent.com/1659032/112228371-d55e5900-8c4e-11eb-9611-1cf0d48e9ee0.jpg)

Inside the console, If any errors related to table creation occur, there

[2021-03-23 22:51] tgerevini commented on #21
ohh i got it now, thanks!
![image](https://user-images.githubusercontent.com/34342917/112229098-19cb0400-8c11-11eb-9b10-91eb48b3a5fa.png)

Now i have a clue on the problem, gonna search for a solution

[2021-03-23 23:05] mo-esmp commented on #21
There is a problem with your connection string, check if there is any problem with your connection string.

https://stackoverflow.com/q/8243008/1385614
https://stackoverflow.com/q/30550679/1385614

[2021-03-23 23:57] tgerevini commented on #21
Weird, cause the rest of the tables were created....
But i got it working! These are the steps that i followed:

1) Changed connection string authentication - from Trusted Connection to Standard Security.
2) Restarting MSSQLSERVER process

It still gave me collation error, but it created the table.

![image](https://user-images.githubusercontent.com/34342917/112233997-4899a800-8c1a-11eb-97fb-b33ab

[2021-03-24 00:27] tgerevini commented on #21
Now i'm facing problems trying to configure UserRole controller without using the UI. Do you have any walkthrough?

I think i need to set this on statup right?
![image](https://user-images.githubusercontent.com/34342917/112235589-babfbc00-8c1d-11eb-97d3-e9959eb24698.png)

But this **"DynamicAuthorization"** class got no such properties and i'm using the latest version:

![image](https://user-image

[2021-03-24 09:45] mo-esmp commented on #21
Check the manual branch for a walkthrough:
https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/tree/manual

No, you don't need this. just take a look at the UI project to see how to implement it.
Also in the blow sample, I implemented UI functionallity without using `UI` package:
https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/tree/master/samples/netcore3.x/SampleMvcWeb

[2021-03-24 10:57] #20 closed

[2021-03-24 10:57] mohammadhosseinzavvar commented on #20
سپاس
مشکلات حل شد

[2021-03-24 10:59] mohammadhosseinzavvar opened #23 "نام تکراری کنترلر در صفحه مدیریت Role"
سلام
در صفحه مدیریت نقش ها بعد از اینکه به چند نقش دسترسی به کنترلر /اکشن دادم
در دفعات بعد در لیست نمایش کنترلر تکراری نمایش میدهد

[2021-03-24 11:40] mohammadhosseinzavvar commented on #23
قبلا چون از این سبک برای اعمال دسترسی استفاده کرده بودم
[Authorize(Roles = "Administrator")]
الان همه Authorize و حذف کردم
حالا میخوام دسترسی های پویا و از صفحه Role اعمال کنم یا ادیت کنم اسامی اکشن ها و نمیاره

[2021-03-24 11:46] mohammadhosseinzavvar commented on #23
البته در نمایش اکشن ها و نمیاره
ولی در دیتابیس سطح دسترسی های کاستوم شده ی من ذخیره شده ولی در بروزر سطح دسترسی ظاهرا چک نمیشه به همه صفحات میشه رفت

[2021-03-24 12:14] #23 closed

[2021-03-24 12:27] mohammadhosseinzavvar opened #24 "پیاده سازی کلاس MySecureContentTagHelper در حالت کلاس کاستوم"
سلام
من همه کلاس های identityt و مطابق داکیومنت مایکروسافت سفارشی کردم
ApplicationRole
ApplicationRoleClaim
ApplicationUser
ApplicationUserClaim
ApplicationUserLogin
ApplicationUserRole
ApplicationUserToken
در پیاده سازی کلاس تگ هلپر مطابق زیر خطا داره
`[HtmlTargetElement("secure-content")]
    public class MySecureContentTagHelper : SecureContentTagHelper<ApplicationDbContext, ApplicationUser, Ap

[2021-03-24 12:37] mo-esmp commented on #24
:چی خطایی داره؟ تو این سمپل من از اورلود ٨ پارامتر استفاده کردم و خطایی نداره، اون رو چک کنید

https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/master/samples/net5/SampleMvcWebWithUi/TagHelpers/MySecureContentTagHelper.cs

[2021-03-26 02:56] tgerevini commented on #21
Thanks! It's almost working lol... now users / roles and access list is working... The problem i'm facing now is that i added the tagHelper but the application completely ignores this class.

![image](https://user-images.githubusercontent.com/34342917/112570545-fd6fc880-8dc4-11eb-957c-f782d1a66599.png)

I added the secure-content tags as told, but the menu links are always visible no matter what a

[2021-03-27 05:16] mo-esmp commented on #21
I guess you forgot to import your project namespace into the `_ViewImports.cshtml` file
https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/master/samples/net5/SampleMvcWebWithUi/Views/_ViewImports.cshtml

[2021-03-27 16:29] tgerevini commented on #21
Perfect! damn i tried to import on shared view lol, thanks!

Now, is it possible to change the access denied view?

![image](https://user-images.githubusercontent.com/34342917/112727247-74f64280-8f00-11eb-99e3-01e130ac3786.png)

[2021-03-27 17:58] mo-esmp commented on #21
I just return [ForbidResult](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/16cf6f656f0aaa63021a7adb0b7f0c39852d3947/src/DynamicAuthorization.Mvc.Core/Filters/DynamicAuthorizationFilter.cs#L112) when a user does not have access to a resource. You should handle the error `403` within your application.

This link might help you
https://stackoverflow.com/a/52625797/1385614

[2021-03-27 20:06] mohammadhosseinzavvar commented on #24
مشکلم حل شد
سپاس

[2021-03-27 20:06] #24 closed

[2021-03-28 19:30] tgerevini commented on #21
Thanks! Now it's working perfectly!

[2021-03-28 19:30] #21 closed

[2021-03-30 12:13] danijel88 opened #25 "[Idea] new feature"
Hello,
I would like to suggest one new feature here.
Imaging big applications which has mother company with child companies, all of them has HR, but with different access.
HR from Mother company can create all users for all other child companies and assign them all roles.
But HR from Child company can create only users for their company and only assign some specific roles, example(Warehouse, maste

[2021-03-31 09:56] mo-esmp commented on #25
Hey @danijel88

It's a good idea. To implement this functionality, hierarchical organization (or departments) should be introduced and users assigned to the organization tree. For example, a user with an admin role that belongs to a higher node in the tree structure has a higher access level than a user with an admin role that belongs to a lower node.

I think it's beyond the scope of this library

[2021-04-21 14:55] markscodingspot opened #26 "Question: DynamicAuthorization.Mvc.Ui"
Is it possible to scaffold the views of the DynamicAuthorization.Mvc.Ui? I have a theme I am applying to the application, and I want the roles pages to be similarly templated.

Thank you

[2021-04-21 19:42] mo-esmp commented on #26
Unfortunately, you can't. The easiest way right now is that copy the `DynamicAuthorization.Mvc.Ui` project into your own project and change it in the way want.

[2021-04-21 19:56] ghost commented on #26
Okay thank you. I will do just that. Prior to now I have been implementing it manually. I will continue to do that. And thank you so very much for this awesome project. Been saving my life 3 years now and counting!

[2021-04-21 19:57] #26 closed

[2021-12-27 18:56] KAJOOSH opened #27 "Update to net 6"

[2021-12-28 19:16] fasteddys commented on #27
Hi can also support dynamic claims

[2021-12-30 21:32] mo-esmp commented on #27
Hi @fasteddys, can you explain more about the purpose of using dynamic claims and where it comes in handy?

[2022-01-02 00:56] fasteddys commented on #27
Here is a nice example of a an issue, but I also have confusion between policy and claim. So I thought you would be expert :)

_Policy & groups with claims_

https://www.tektutorialshub.com/asp-net-core/claims-based-authorization-in-asp-net-core/
https://stackoverflow.com/questions/53127395/are-asp-net-core-claims-reliable-and-secure-from-tampering
https://stackoverflow.com/questions/35231107/choo

[2022-01-07 08:39] mo-esmp commented on #27
Sorry for the late reply @fasteddys . The policy is a way of authorizing users and claims are a way to identify the users and with the help of claims, we can implement our policies. Policies are more flexible in comparison with the `Authorize` attribute to implement custom authorization, however, the implementation of `
DynamicRoleBasedAuthorization` is flexible enough without needing custom imple

[2022-01-10 04:26] fasteddys commented on #27
Hello @mo-esmp Happy new years, and thanks for that explanation, so we can map a role to a dept. Can we add hierarchical org/dept. and map those to our dynamic roles, I want to be able to seperate outside managers/vendor managers from inside managers for some financial access (cost, pruchase price etc)

![image](https://user-images.githubusercontent.com/96149622/148718329-cca80f5d-3682-48f2-80cd-7

[2022-01-10 06:32] danijel88 commented on #27
Hello,
Something similar I had ask @mo-esmp . What I had did and if that can help you I can refactor the code into lib and share with you so we can contribute. What was my idea:
To have many roles inside of an organization, that organization has many departments, but at the end certain department can create new users and assign to them only specific role(s). Example: if we have next roles: Admin,

[2022-01-10 09:08] mo-esmp commented on #27
Hey @danijel88,
Yes, I remembered that [#25](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/issues/25) and it's open. If you share your code via a repository with us, that would be a great help and we can work on that. These days I'm really busy and without aid, it would take a long time to be implemented just by myself.

[2022-01-10 09:16] danijel88 commented on #27
I would like to share code with you. Since it is not as separate lib and it is part of another project, I need refactor the code. Based on current availability me too will need couple of days to manage this. I'm getting back to you asap.
about #25 we can close, no problem at all.

[2022-01-10 09:32] mo-esmp commented on #27
I prefer to close this one hence its title is updating to .NET 6.0. I will create a new issue or continue on issue 25 when your repo is ready.

[2022-01-10 20:13] fasteddys commented on #27
One more thing in the UI for the roles can we add icons too :) and

 be able to export and import users & roles & claims configuration for backup in JSON or XML

[2022-01-11 06:58] mo-esmp commented on #27
I have a plan to change UI and there is a repo for [that](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/tree/feature/new-ui).

[2022-01-12 05:13] fasteddys commented on #27
Thats awesome, looking forwards to it.

[2022-01-24 08:27] danijel88 commented on #25
Hi,
Since not a lot of free time, I had refactor some code. Actually it is written blind code, only tested by running app without tests.
[https://github.com/danijel88/RoleManagement](https://github.com/danijel88/RoleManagement)
This is initial Idea any contribution is accepted. Also I had create project with some tasks, please check and if you work on something please update.

[2022-01-25 08:05] mo-esmp commented on #25
@danijel88,

Thanks for sharing codes!

[2022-02-20 16:22] justaddisu opened #29 "I can create the role in asp.net core 5"
**I can create the role in asp.net core 5
Please help me how to fix the error**

The errors on `"var controllers = (IEnumerable<MvcControllerInfo>)ViewData["Controllers"];"`
---------------------------------------
An unhandled exception occurred while processing the request.
InvalidCastException: Unable to cast object of type 'System.Collections.Generic.List`1[DynamicAuthorization.Mvc.Core.MvcCont

[2022-02-21 11:08] mo-esmp commented on #29
@justaddisu Could please tell me how can I reproduce this error or you can share the codes related to this error via a GitHub repo.

[2022-02-21 11:08] #27 closed

[2022-06-11 20:40] fasteddys opened #30 "Get List<Menu> based on user role or claim"
Hello, thanks for this, its very creative approach and unique, is it possible to build a menu hierarchy based on the users roles/claims at startup/cached, could you please show us so I can tie the `Mo-esmpMenuHelper` into a `_SideBarLayout`

I can help with adding the BS 5 styles with a PR if you want.

[2022-06-12 19:52] mo-esmp commented on #30
Hey @fasteddys ,
Please take a look at [this issue](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/issues/15#issuecomment-675373566) and if you had further questions, please let me know.

[2022-06-15 17:01] fasteddys commented on #30
Thanks for that @mo-esmp this is a great lib, very smart and intelligent.

Since a user can have more than one roles, I was hoping for something just a little bit different, in the previous approach the entire menu is exposed even to unauthorized users, I understand they will be blocked when they access.

`GetControllersActionsByRole()`
`GetControllersActionsByRoleFromCache()`

 Is there a way to

[2022-06-15 21:06] mo-esmp commented on #30
You mean with `secure-content` tag helper still menu will be exposed to all users even unauthorized ones?
I didn't get what you mean exactly, you're mentioning this library or your implementation. This library saves the controllers and actions for each role in `RoleAccess` table and then checks the requested controller/action with  `RoleAccess` tables.

[2022-06-18 14:06] shaunVorster opened #31 "AddUI requires IMvcBuilder"
Good day. Im working on an asp.net core 3.1 application that uses identity for authentication.
When i try to implement the addUI method though it's complaining that the addui needs a imvcbuilder.

i may just be missing something but where do i find this?

[2022-06-18 14:53] shaunVorster commented on #31
Sorry, i got it working

[2022-06-18 14:53] #31 closed

[2022-06-19 11:43] kuldeep17910 opened #32 "An unhandled exception occurred while processing the request"
Hi @mo-esmp Thanks for this excellent repository. Some initial small problems I faced are :

1.  After successful login you can log out (error - Access denied You do not have access to this resource) because you do not have any default access  and to give access you  have manually disable the restrictions (as comments  [Authorize] in controllers &  <secure-content asp-area="" asp-controller="Role"

[2022-06-19 19:34] mo-esmp commented on #32
Hey @kuldeep17910,

Thanks for reporting. I will check the second one but didn't get you for the first one. On logout you get `Access denied You do not have access to this resource` error? The [default behavior](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/f738fc69ad28ac38ccfc86c0cf3ba4a666e3a685/src/DynamicAuthorization.Mvc.Core/Filters/DynamicAuthorizationFilter.cs#L117)

[2022-06-20 10:36] kuldeep17910 commented on #32
@mo-esmp Thanks for the support, I think I have not explained the first one in correct way.

Let me try again

Part A

1. When you launch the app first time and register the first user, the user does not have any default access because no data seeding is there.
1.1 But to Logout from the system the user need Logout permission(Account Management)
1.2 Now if you want to give the Logout permission to

[2022-06-20 14:29] mo-esmp commented on #32
@kuldeep17910 Good catch! I need to think about that how to give the access to logout action without checking the access and the problem is everyone can name and implement logout in a different way. A workaround for now is removing `[Authorize]` from logout action.

[2022-06-21 05:02] kuldeep17910 commented on #32
@mo-esmp Great! Thanks for the support. This is really good repository, keep adding to this ...

**Role Deletion **
I have noticed that when trying to delete the role only alert (Are you sure want delete this role ?) is coming and role is not getting deleted when clicking on ok.

[2022-06-22 05:01] shaunVorster commented on #14
Hi mo-esmp. Firstly thanks for the great repo.

I have followed your manual branch implementation in a project I'm using but also ran into the razor page issue as I'm using idenitiy scaffolded pages.

Could you please post your suggestions / guide for implementing the fix for razor pages?

[2022-06-23 07:30] mo-esmp commented on #14
Hey @shaunVorster,
Sorry for the late reply. As I mentioned in previous comments, the main problem with Razor Pages for me is routing and couldn't find a solution for that and I haven't worked on it in a long time. For now, my suggestion is to take a look at the [MvcControllerDiscovery](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/dev/src/DynamicAuthorization.Mvc.Core/MvcCo

[2022-06-23 19:46] shaunVorster commented on #14
Hey @mo-esmp. Thanks very much for the reply. I will check it out.

[2022-07-07 13:53] fasteddys commented on #30
Hello @mo-esmp, please correct me if I am wrong.

Adding `secure-content` I think your approach is `static `where I have to create HTML first.
I wanted to generate the `menus dynamically`, since they could be role based etc. I was thinking by adding this `GetControllersActionsByRole()` ,
`GetControllersActionsByRoleFromCache()` and maybe breadcrumbs from below lib would be nice too.

Feel free to

[2022-07-09 02:30] Cricle opened #34 "Will it merge `DynamicAuthorization.Mvc.MsSqlServerStore` to like `DynamicAuthorization.Mvc.EFStore`"
Can it export a model given user write in DbContext like DbSet<xxx>, and use DbContext to access data.

This will probably be `Migrations`, `Custom`, `Controlable`, `Scalable`.

[2022-07-09 06:11] Cricle commented on #34
Like given interface

[code]

And inject in service to use.

[2022-07-09 08:13] mo-esmp commented on #34
It is possible, by adding `DbSet<RoleAccess>` manually or by inheriting `DynamicAuthDbContenct` that has the DbSet (maybe with some more extra helpers).

[2022-07-09 08:31] mo-esmp commented on #30
@fasteddys Thanks for sharing the code and sorry for the late reply. I think we can divide this feature into 3 sections:

1. A service to return a model that contains a list controller, action and name to generate links
2. A tag helper or generator to render the menu (have no idea how the HTML part should look like? does it fit all?)
3. Adding cash to improve performance

I can help with the imple

[2022-07-10 08:48] Cricle commented on #34
Thanks. I like this project very much!

[2022-07-10 08:48] #34 closed

[2022-07-15 17:55] fasteddys commented on #30
thanks @mo-esmp sure, I can test it, happy to see you open to new ideas and pull our code snippets into one consolidate idea!! 🤗  it

[2022-08-24 00:43] fasteddys commented on #30
Hello @mo-esmp bump +1 😄

[2022-08-24 07:52] mo-esmp commented on #30
Hey @fasteddys,

I guess I can start implementation this weekend but before that do think [IMvcControllerDiscovery](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/9a856bb763210454ec9fef10ca8294d5e484317a/src/DynamicAuthorization.Mvc.Core/IMvcControllerDiscovery.cs#L7) and [MvcControllerInfo](https://github.com/mo-esmp/DynamicRoleBasedAuthorizationNETCore/blob/9a856bb763210454

[2022-08-25 00:58] fasteddys commented on #30
Sure, I trust your design approach, looks interesting. For our users, lets do that & allow our developers who add our `ms-es nuget` package to easily add the menu with role/claims functionality

1. Register in the program/configure section
2. And generate a simple `_menuPartial` or `_sideBar`  I saw this [article](https://www.dotnettricks.com/learn/aspnetcore/partial-views-and-view-components)...

[2022-08-29 12:17] mo-esmp commented on #30
@fasteddys I'm a bit confused. To create the menu in a dynamic way, what are the requirements?
- For now, there is a method to get the list of controllers and actions for generating the menu, what else is required except caching?
- The main question is how will the user change or inject HTML for creating the menu?

[2022-09-02 03:09] fasteddys commented on #30
@mo-esmp not the expert here, but lets just start with something straight forward `_PartialMenu `or menu `ViewComponent` that's perhaps a `MenuRolesHashMap`. Let others chime in with their ideas as it gets some use.

1. Either a Menu `created at compile time` from an app.config / xml file (from an exported list menu action + roles)
2. or created using the `Startup()` at `runtime `by getting the li

[2022-09-08 21:43] mo-esmp commented on #30
Let's keep this open. It will take time but in the end, we will implement this feature.